---
whiskers:
  version: ^2.0.0
---
{%- component css_rgb(v) -%}
rgb({{ v.r }}, {{ v.g }}, {{ v.b }})
{%- endcomponent -%}

{%- component css_hsl(v) -%}
hsl({{ v.h | round }}, {{ v.s * 100 | round }}%, {{ v.l * 100 | round }}%)
{%- endcomponent -%}

{% for flavor_key, flavor in flavors %}
# {{ flavor.name }}

| Color | Hex | RGB | HSL |
|-------|-----|-----|-----|
{%- for color_key, color in flavor.colors %}
{{ color.name }} | #{{ color.hex }} | {{ <css_rgb v={color.rgb}> }} | {{ <css_hsl v={color.hsl}> }} |

{%- endfor %}
{% endfor -%}
