name: Lint

on:
  pull_request:
    paths: ["**.rs", "**.toml", "**.lock"]
  push:
    branches: [main]
    paths: ["**.rs", "**.toml", "**.lock"]

jobs:
  rust:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('./Cargo.lock') }}-test

      - name: clippy
        run: cargo clippy

      - name: rustfmt check
        run: cargo fmt --all --check
